h3{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Arial Narrow Bold', sans-serif;
   
}


img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 40%; */
  }

.first-section{
    /* background-image: url("/imag/festi.jpg"); */
    background-color:#002856 ;
}

.second-section{
    margin: 120px 10px 120px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.first-article{
    margin: auto;
    width:80%; 
    padding: 10px;
 }

 .second-article{
    backdrop-filter: blur(10px);
    /* display: flex; */
    text-align: justify;
    margin: 10px;
 }

 .second-article:hover{
    opacity: 80%;
 }
 

 /* desde aqui se diseña para phone */